<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Reset Password Code</title>
  </head>
  <body>
    <h2>Reset Your Password</h2>
    <p>Dear {{fullName}},</p>
    <p>We received a request to reset your password. Please use the code below to reset your password:</p>
    <h3>{{verificationCode}}</h3>
    <p>If you did not request a password reset, please ignore this email.</p>
    <p>Best regards,<br />Movie Reservation System Team</p>
  </body>
</html>
